<div class="front-page-container" ng-disabled="expression">

  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel" data-slide-to="1"></li>
      <li data-target="#bs-carousel" data-slide-to="2"></li>
      <li data-target="#bs-carousel" data-slide-to="3"></li>
      <li data-target="#bs-carousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero">
          <div>
            <h1>Get Sponsired</h1>
          </div>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2"></div>
        <div class="hero">
          <div>
            <h1>Get Sponsired</h1>
          </div>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">
          <div>
            <h1>Get Sponsired</h1>
          </div>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-4"></div>
        <div class="hero">
          <div>
            <h1>Get Sponsired</h1>
          </div>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-5"></div>
        <div class="hero">
          <div>
            <h1>Get Sponsired</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="aboutus">
    <div class="text-center">
      <h1>Spon-sir</h1>
      <br>
      <br>
      <br>
      <a href="#" class="button blue">Find out about us</a>
    </div>
  </section>

  <section class="brands">
    <div class="text-center">
      <h1>Brands and Events associated with us</h1>
    </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="row">
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l1.png"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l2.png"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l3.png"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l4.png"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l5.png"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l6.png"></div>
          </div>
        </div>

        <div class="item">
          <div class="row">
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l7.jpg"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l8.png"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l9.png"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l10.png"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l11.png"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l12.png"></div>
          </div>
        </div>

        <div class="item">
          <div class="row">
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l13.png"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l14.png"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l15.png"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l16.png"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l17.png"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l18.png"></div>
          </div>
        </div>

        <div class="item">
          <div class="row">
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l19.png"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l20.png"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l21.jpg"></div>
            <div class="col-xs-4 col-md-2 logo-list-div"><img src="app/assets/img/brands1/l22.png"></div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section class="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-6">'
          <div class="text-center">
            <h1>The Spon-sir
              <br> Blog
            </h1>
            <a href="" class="button blue">Read More</a>
          </div>
        </div>
        <div class="col-md-6 left">

          <p>
            <i class="fa fa-quote-left" aria-hidden="true"></i>
              n order to provide the best possible experience to old and buggy browsers, Font Awesome uses CSS browser hacks in several places to target special CSS to certain browser versions in order to work around bugs in the browsers themselves. These hacks understandably cause CSS validators to complain that they are invalid. In a couple places, we also use bleeding-edge CSS features that aren't yet fully standardized, but these are used purely for progressive enhancement.

              These validation warnings don't matter in practice since the non-hacky portion of our CSS does fully validate and the hacky portions don't interfere with the proper functioning of the non-hacky portion, hence why we deliberately ignore these particular warnings.

              Getting started  <i class="fa fa-quote-right" aria-hidden="true"></i>
           
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="faq">
  <div class="text-center">
    <h1>More Details</h1>
    <br>
    <br>
    <br>
    <a href="#" class="button navyblue">FAQs</a>
    <a href="#" class="button navyblue" data-toggle="modal" data-target="#myModal">TnC</a>
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Terms and Conditions</h4>
          </div>
          <div class="modal-body">
            <span class="Tnc">
              This agreement is written in English (UK). To the extent that any translated version of this agreement conflicts with the English version, the English version will prevail.

<h5>1. ACCEPTANCE OF TERMS</h5>

Spon-sir.com (“Spon-sir.com”) owns and provides online services that facilitates online sponsoring and

provides matchmaking solution for sponsors and event organizers (collectively the “Services”) on the

platform called Spon-sir.com.com (the “SME”)

By creating a profile on SME, by accessing and using the Services, the event organizer (hereinafter as

“Organizer”) and Sponsor (hereinafter the “Sponsor”) – (collectively hereinafter named the “Customers”)

agree to accept the terms and conditions set forth below (the “Terms of Use”) on behalf of themselves

and / or their companies, or represented person / company, and that this relationship(s) are and will be

bound by the Terms of Use. If the Customers do not agree to be subject to these Terms of Use, they are

requested to immediately stop using the Services. By continuing to use the Services, the Customers

automatically agree to be bound by these Terms of Use.

Spon-sir.com reserves the right, at its sole discretion, to change, modify, update, add, or remove portions

of the Terms of Use at any time, with or without notice to the Customers. The Customers are kindly

invited to check these Terms of Use, available on the SME website, subject to changes from time to time.

The continued use of the Services after the posting of any changes to the Terms of Use will signify the

acceptance by the Customers of those changes.

<h5>2.SCOPE OF AGREEMENT</h5>

These Terms of Use cover the use of the Services, including, but not limited to, the process by which the

Customers finance the events, find, consult, post, advert, manage events, profiles, and/or contact

Organizer/Sponsor, and/or conclude, manage the deals between Sponsors and Organizers through the

Services on the SME platform. Customers agree that these Terms of Use apply to the above mentioned

uses of the Services.

<h5>3. CHANGES TO THE SERVICES</h5>

Spon-sir.com has the right to change or modify, upgrade, add to, or discontinue the Services or any

portion or feature thereof at any time without notice. Spon-sir.com also reserves the right to assign any

rights, licenses, or obligations arising out of or relating to these Terms of Use without restriction and on its

own discretion.

<h5>4. REGISTRATION AND USAGE</h5>

Customers must register and create a profile on SME to access and use the Services. If Customers are

registering on behalf of a company (ies), by registering, they confirm and agree that they have the

requisite authority to register on behalf of such company (ies). The same applies if the Customers act on

behalf of other person(s). The email address provided during the registration will be the login for the SME

account. Each account must have a unique email address and Customers agree to not create more than

one account under the same email address.

Customers warrant that any information provided during registration or at any time thereafter is true,

accurate and complete and that Customers will update all such information as necessary to maintain its

truth, accuracy and completeness. Failure to do so shall constitute a breach of these Terms of Use.

Customers shall be responsible for maintaining the confidentiality of their own password, and will be

solely liable for all actions taken via their account and under their password, whether or not made with

their knowledge or authority. Customers further agree that any credit card or payment gateway

information provided during registration or at any time thereafter is valid and that the Customers have

authority to authorize payments from such credit card or account.

By registering, Customers agree to use the Services only for the purposes advertised on the SME

website or in any other marketing material published by SME or Spon-sir.com. Customers agree to not

post content or perform any action on SME that infringe, violate someone else’s rights or otherwise

violate the national/international law or might have such or similar consequences.

By registering, Customers confirm that they are a valid business desiring to use the Services with aim to

find, obtain/provide sponsoring, also find events, advertise the business and/or to conclude the deals for

sponsoring. Any information provided about Customers’ business (information about event, exhibition or

other) or contact information (such as email addresses, banking account number and phone numbers and

etc.) must be valid and accurate contact information.

<h5>5. THE Spon-sir.com ADVERTISING/MARKETING NETWORK</h5>

In order to maximize the exposure of the SME business online and the deals between the Organizer and

Sponsor made through the Services, Spon-sir.com can, at its sole discretion: enter into agreements with

third party businesses in order to create a profile page of SME website or on third party’s websites;

optimize any current or future Internet listings for Customers’ business; take advantage of search engine

marketing; lead generation or social networking opportunities; advertise Consumer`s business through

media means, and perform any other acts it deems appropriate to increase traffic and use of the Services

(the “Spon-sir.com Marketing Actions”).

The Spon-sir.com Marketing Actions will include any and all search engine marketing, lead generation or

social networking that Spon-sir.com undertakes on behalf of the Customers or to promote the Services

and generate traffic to increase the number of sponsoring deals concluded through the SME, including

but not limited to marketing and advertising effected through any of the Spon-sir.com Marketing Actions.

From time to time, at its sole discretion, Spon-sir.com may make specific offers to Customers to

participate in the Spon-sir.com Advertising Network. The terms and conditions of these offers will be

available to the said Customers at the time of the offer and acceptance of the offers will be at the

Customers’ sole discretion.

<h5>6. FEES/PRICING; PAYMENT TERMS</h5>

The fees for using the SME platform are indicated on the SME website.

If Customers choose the paid package(s) or additional options as set forth on the SME website or in any

other Spon-sir.com agreement(s) or in Terms of Use, they agree to pay all charges for the Services as

indicated on SME website, in the respective agreement, or in Terms of Use.

The Customers agree that the address, the email address, fax and any other details they provide in their

account settings are valid business addresses and that Spon-sir.com may invoice these Customers at

such addresses/numbers or through other electronic or facsimile communications.

Any charges invoiced by Spon-sir.com are exclusive of all taxes, levies, or duties imposed by the taxing

authorities, and Customers shall be responsible for payment of all such taxes, levies, or duties, excluding

only Luxembourg taxes based solely on Spon-sir.com’s income. All fees paid to Spon-sir.com by pursuant

to these Terms of Use are nonrefundable.

Spon-sir.com reserves the right, at any time and at its discretion, to change any fees and any other

pricing terms for the Services or additional features on SME website. Any changes shall be posted on the

SME website or communicated to the Customers per email/fax/mail or other means and will be effective

immediately after a prior notification of 1 week to the Customers.

<h5>7. PAYMENT AUTHORIZATION; INVOICING</h5>

Spon-sir.com will invoice the Customers on a monthly, yearly or single (depending on the chosen

packages/service for Services) basis, in advance, for all amounts due to Spon-sir.com. Each invoice shall

set forth the fees to be incurred in the forthcoming month (hereinafter the “Spon-sir.com Invoice”). Spon-

sir.com agrees to post each Spon-sir.com Invoice on the Customers’ online account within one week of

the first day of the applicable calendar month (hereinafter the “Invoice Posting Date”) or in case of the

single payment at latest one week after the paid Services have occurred/have been concluded.

By providing a credit card or any other payment information either during registration or at any time

thereafter, each Organizer or Sponsor warrants that such credit card or payment gateway is correct and

valid, and authorize Spon-sir.com to charge such credit card or payment gateway for amounts due under

the Spon-sir.com Invoices pursuant to the payment schedule set forth in present section below.

Payment Schedule:

For each Spon-sir.com Invoice, Spon-sir.com will charge to the credit card or payment gateway, listed in

the Customers’ account, all undisputed amounts of such Spon-sir.com Invoice at the day of the Invoice

Posting Date. Customers are responsible for logging in and timely reviewing any Spon-sir.com Invoice. All

amounts on Spon-sir.com Invoice shall be deemed to be undisputed unless you submit a disputed charge

claim to Spon-sir.com pursuant to Section 9, below. Once an amount has been charged to a Customers’

credit card or payment gateway, it is nonrefundable.

<h5>8. NONPAYMENT</h5>

If, for whatever reason, Spon-sir.com charges the Customers’ credit card or payment gateway pursuant to

Section 7, above, and the payment does not go through, Spon-sir.com reserves the right to suspend their

access to the Services. If the Customers fail to pay the applicable invoice within 10 days of the date of

suspension, or to otherwise negotiate a payment plan for all amounts then due, Spon-sir.com reserves

the right to cancel the Customers account. In the event Spon-sir.com cancels the account for non-

payment, all amounts due and unpaid to Spon-sir.com for use of the Services shall become immediately

due and payable.  In the event of non-payment and the exhaustion of the procedures set forth in this

section, Spon-sir.com reserves the right to seek payment using any remedies allowed to it by law.

<h5>9. DISPUTED CHARGES</h5>

If the Customers wish to dispute any fees or charges invoiced by Spon-sir.com, the Customers agree to

submit the disputed fee or charge to Spon-sir.com no later than five (5) business days after the Spon-

sir.com Invoice containing the disputed fee or charge is sent for payment. The Customers are responsible

for logging in and timely reviewing any Spon-sir.com Invoice. Each Organizer and Sponsor may submit a

disputed fee or charge by contacting Spon-sir.com by registered mail. Spon-sir.com agrees to review said

dispute and work with the concerned Organizer or Sponsor to find a timely and best solution.

<h5>10. ELECTRONIC COMMUNICATIONS</h5>

Spon-sir.com reserves the right to contact the Customers from time to time for feedback about the

Services, special announcements and for service and support related issues through e-mail, facsimiles,

text or voice messages, or notices posted on SME website. Notices will be deemed effective at the time

they are sent by Spon-sir.com or as of date they are posted, regardless of whether the Customers

actually read any such notices.

Customers may opt-out of receiving notifications through the Services by logging into the account and

changing the notification settings; opting-out of such notifications, however, will limit the effectiveness of

the Services. Customers may not opt-out of receiving notifications relating to support of the Services or

other notices as required by law.

Customers consent that any emails, surveys, other information or feedback provided to Spon-sir.com

through the SME platform or via any other medium, except for Personally Identifiable Information can be

used by Spon-sir.com in any manner, including but not limited to testimonials, reviews and ratings on

Spon-sir.com or third party websites.

<h5>11. INTELLECTUAL PROPERTY</h5>

Spon-sir.com grants you a license to use the Services in accordance with these Terms of Use. Customers

agree not to copy, modify, reformat, rent, lease, lend, frame, create derivative works, download, store,

reproduce, upload, reprocess, make a commercial use of, or distribute the Services. Spon-sir.com

reserves all rights to the Services not expressly granted in these Terms of Use.

Spon-sir.com retains all rights in and to, including without limitation, the copyrights, patents, and trade

secrets, trademarks or service marks contained in or relating to the Services (collectively the “Spon-

sir.com Intellectual Property”) that are the exclusive property of Spon-sir.com and/or its licensors. Spon-

sir.com does not transfer any rights of Spon-sir.com Intellectual Property to Customers.

Content of the Services that incorporates or includes any of the Spon-sir.com Intellectual Property may

not be used, copied, reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, or

otherwise exploited for any other purposes whatsoever without the prior written consent of Spon-sir.com

or the rightful owner, as applicable.

<h5>12. CONFIDENTIAL INFORMATION</h5>

Confidential Information is any oral, written, graphic or machine-readable information disclosed by Spon-

sir.com that is designated in writing to be confidential or proprietary or is otherwise reasonably

understood to be confidential. Confidential Information shall include, but not be limited to, any and all data

regarding the performance of any functionality of the Services. Customers agree to not disclose or use

any Confidential Information without the prior written consent of Spon-sir.com, and to maintain the

confidentiality of the Confidential Information.

13. ORGANIZERS AND SPONSORS WARRANTIES

It is the Customers responsibility to use the Services properly and effectively. By using the Services

Customers warrant that: they will use the Services only for the purposes advertised on the SME website

or any other marketing material provided by Spon-sir.com; that Customers are a valid business desiring to

use the Services with the aim to find or provide sponsoring and/or to conclude the sponsoring deal on

SME; that any information provided, among such are e-mail, business addresses, phone numbers, event

details, payment details and other, is valid and active information. Any breach of this section will result in

termination of the Customer’s account on SME. Spon-sir.com reserves the right to pursue any remedies

available to it by law or in equity for any breach of this Section.

<h5>14. ORGANIZER’S AND SPONSOR’S RESPONSIBILITIES</h5>

Organizer is responsible to furnish Sponsor with all the requested information about the event Sponsor is

interested to sponsor. Sponsors respectively are responsible to provide financial support (sponsoring) for

the selected event.

Customers are responsible for ensuring that they can fulfil all parts of sponsoring deal engagements

made through the Services. Customers are also responsible for communicating changes directly to their

counterparts (respectively Organizer or Sponsor). Customers are responsible for checking their accounts

regularly in order to be able to find matching events, propose sponsoring for respective events, or

request/answer the sponsoring for the event. Customers are responsible on their own for managing and

closing the sponsoring deal. The sponsoring deal is automatically closed and the amount of money

requested by the Organizer is automatically debited from the account of the Sponsor after the Sponsor

has purchased the chosen sponsor-package(s) on the SME website. Customers agree to receive or

provide the financing for the event(s) by using the online payment solutions chosen by Spon-sir.com and

provided on SME website.

Customers are also responsible for all equipment required to access the Services, including (but not

limited to):

<ul>
  <li>a properly configured internet enabled device compatible to SME;</li>
  <li>a functioning and valid email address;</li>
  <li> any required software, including an accepted browser (currently Internet Explorer version 8.0 or later,

Mozilla Firefox Version 1.5 or later, Google Chrome, Apple Safari) that is configured to accept cookies,

download images, and run JavaScript; and</li>
  <li>ny other equipment needed to access the Services.</li>
</ul>

When using the Services Customers must comply with all laws and restrictions, including Luxembourg

laws and regulations, to which the Services are subject.

<h5>15. USE OF THE SERVICES</h5>

Customers may not use the Services in any manner that is illegal or harmful to the Services or Spon-

sir.com. Among other restrictions, Customers agree not to:

<ul>
  <li>Use the Services through unauthorized interfaces or protocols;</li>
  <li>Transmit information that infringes the rights of others or is abusive, pornographic, violent, racist,

discriminatory, offensive, vulgar, obscene, defamatory, invasive of personal privacy, harassing,

threatening, or otherwise objectionable;</li>
  <li>Translate, reverse-engineer, decompile, disassemble, modify, or make derivative works from the Services

or Services software (accept as applicable law expressly permits);</li>
  <li>Remove, obscure or alter any notices or indications of rights in or to the Spon-sir.com Intellectual

Property;</li>
  <li>Interfere with, or attempt to interfere with, compromise the system integrity or security, or decipher any

transmissions to or from any Spon-sir.com servers;</li>
  <li>Take any action that imposes an unreasonable or large load on Spon-sir.com’s infrastructure;</li>
  <li>Upload invalid data, viruses, worms, or other harmful software to the Services;</li>
  <li>Use automated means, including spiders, robots, crawlers, data mining tools, or the like to download data

from the Services, unless expressly permitted by Spon-sir.com;</li>
  <li> Use the Services in a way that disables the Services or prevents or inhibits anyone from using the

Services; or</li>
  <li>Impersonate any person or entity in order to use, or through use of, the Services.

Customers agree not to allow or consent any third party to act in the above mentioned manner.</li>
</ul>


<h5>16. CUSTOMERS SUBMISSIONS</h5>

Materials, including but not limited to text, software, data, images, graphics, photos, audio, audiovisual,

videos, and content of any nature provided by Spon-sir.com (“Content”) or by Customers (the

“Submissions”) to the Services website is owned by the party contributing such content. Customers are

solely responsible for their own Submissions. By transmitting their Submissions, Customers warrant that

they have all rights and authorizations necessary to post, submit, display, produce, or otherwise transmit,

such content. Customers agree that they will not submit in the Submissions material that is or contains

the intellectual property of a third party that they do not have permission to use.

Customers shall retain all of their ownership rights in their Submissions; however, by submitting material

to Spon-sir.com, Customers grant Spon-sir.com the irrevocable, fully transferable right to use, reproduce,

distribute, modify, transmit, prepare derivative works of, display and produce the material in connection

with the Services and Spon-sir.com’s business, and to grant these rights to the third parties. To the extent

Customers do not have ownership rights to any of the Submissions, Customers shall indemnify Spon-

sir.com for any claim regarding Spon-sir.com’s use of the Submissions.

Spon-sir.com does not guarantee any confidentiality with respect to any Submissions and will not treat

any Submissions as confidential. When using the Services, Customers may be exposed to Submissions

from a variety of sources, and Spon-sir.com is not responsible for the accuracy, usefulness, safety, or

intellectual property rights of or relating to such Submissions, which may be inaccurate, infringing,

offensive, indecent, or objectionable.

<h5>17. LINKS TO THIRD PARTY SITES</h5>

Customers may encounter hypertext links to websites operated by parties other than Spon-sir.com during

Customers use of the Services and on SME website. Spon-sir.com does not control such websites and is

not responsible for nor can guarantee the content of such websites. Unless otherwise explicitly stated, the

inclusion of any hypertext links to such websites in the Services or on SME website does not imply any

endorsement by Spon-sir.com of the material on such website or any association with their operators.

<h5>18. COOKIES</h5>

Spon-sir.com may store or retrieve information on your browser in the form known as “cookies”. Cookies

are used in order to provide the Customers with friendly and faster user experience. Usually cookies help

to collect additional website usage data and to improve our Services. A cookie is a small data file that is

stored temporarily to Customers’ computer&#39;s hard disk.

For the moment Spon-sir.com uses session cookies. These cookies are critical and essential for the

functioning of the SME platform. These cookies track Customers’ name and session ID (a unique number

of the log in session of each Sponsor or Organizer). Such cookies help to keep the Customers logged in

while browsing on the SME platform.)

Cookies mentioned above are used on the SME webpage and as well on the websites of the other third

parties who have integrated SME widgets, share buttons or which have installed SME software.

Services provided by the third parties where the Customers have an account or use these services, which

allow to share information, watch videos and so on, are subject to the privacy policy of those third party

service providers. Such services enables Spon-sir.com to provide enhanced functionality and more

features on SME website and platform, but the use of the data collected through these cookies by third

parties are under the rule of their privacy policy.

<h5>19. DISABLING COOKIES ON YOUR BROWSER</h5>

Customers can instruct their browser to stop accepting cookies or to request permission each time they

visit the websites. For these Customers need to change the settings in their browser. Please refer to the

user’s manual of your browser to disable cookies. However, some SME services may not work properly if

cookies are disabled.

<h5>20. PROTECTION OF PERSONAL DETAILS</h5>

Spon-sir.com is doing the best to ensure the security of the personal information the Customers have

entered. Personal information is protected by encrypting the data provided using the secure socket layer

technology (SSL). However these technologies used are not error free, thus it is up to the Customers to

decide whether they want to provide information on SME platform. For more information on the privacy

policy please refer to our privacy policy terms.

<h5>21. INFORMATIONS SHARING</h5>

Spon-sir.com may share information, including personal information within the Spon-sir.com subsidiaries,

affiliates and other entities forming the part of Spon-sir.com.

<h5>22. TERMINATION</h5>

Upon termination of the use of the Services for any reason, all of the rights to access and use any and all

parts of the Services shall immediately terminate. In the event of such termination, Customers agree to

remove any and all Content provided by Spon-sir.com from all of their hard drives and any other storage

media and to destroy all copies of the Content in their possession.

<h5>23. OUR RESPONSIBILITIES</h5>

Spon-sir.com is not responsible for providing assistance or support to Customers and other parties,

including error corrections, upgrades, support, updates, bug fixes, enhancements, or other types of

support. Customers agree that Spon-sir.com has no liability or responsibility for the storage or deletion of

any Submissions. Spon-sir.com reserves the right, but not the obligation, to remove any Submissions at

its discretion. Spon-sir.com may monitor the use of the Services, to the extent permitted by law, to ensure

compliance with these Terms of Use, satisfy legal requirements, or protect Spon-sir.com’s rights and the

right of the third parties.

<h5>24. SOLE REMEDY</h5>

Customers and third parties only remedy for any dispute with Spon-sir.com is to stop using the Services,

unless otherwise provided by law or the competent courts.

<h5>25. JURISDICTION</h5>

These Terms of Use shall be interpreted and governed by and construed in accordance with the laws of

the Grand Duchy of Luxembourg, with regard to its conflicts of laws rules. Any claim or dispute under

these Terms of Use or use of the Services by Customers shall be brought before the competent courts of

the Grand Duchy of Luxembourg and Customers agree also to submit to the personal jurisdiction of these

courts for the purposes of litigating any such claim or action.

<h5>26. ENTIRE AGREEMENT / TRANSLATION / INTERPRETATION</h5>

These Terms of Use as posted on the SME website and any operating rules for the Services established

by Spon-sir.com constitute the entire agreement between Spon-sir.com and the Customers regarding the

use of the Services. If any provision of these Terms of Use should be held illegal or unenforceable by a

court with jurisdiction, such provision shall be modified to the extent necessary to render it enforceable

without losing its intent, or severed from these Terms of Use if no such modification is possible, and the

other provisions of these Terms of Use shall remain in full force and effect. The section headings used

are for convenience only and shall not be given any legal significance.

<h5>27. NO WAIVER</h5>

A lack of enforcement will not result in waiver of any term. Also, no waiver by either party of any breach or

default shall be deemed to be a waiver of any preceding or subsequent default.

<h5>28. Governing Law AND Dispute Resolution</h5>

The laws of Luxembourg shall exclusively govern all disputes and all other proceedings outcoming of the

connection and the content of the SME platform and the Services. The Court of Luxembourg-Ville shall

have exclusive jurisdiction over all disputes and all other proceedings related to the content and the

connection to this Site.

<h5>29. WARRANTY DISCLAIMER</h5>

The Services are provided “AS IS,” “WITH ALL FAULTS,” and “AS AVAILABLE.” CUSTOMERS AGREE

THAT THE USE OF THE SERVICES SHALL BE AT THEIR SOLE RISK. Spon-sir.com does not

guarantee that Customers will be able to access the Services at all times or places, that Spon-sir.com will

have adequate capacity for all Customers, OR THAT THE SERVICES WILL BE OPERABLE with all

equipment. TO THE FULLEST EXTENT PERMITTED BY LAW, Spon-sir.com, ITS OFFICERS,

DIRECTORS, EMPLOYEES, AND AGENTS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED,

including implied warranties of merchantability, suitability, quality, accuracy, fitness for particular purposes

and non-infringement. Spon-sir.com MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE

CONTENT OF ANY WEB SITES LINKED TO THE SERVICEs or the services provided by the third

parties. Spon-sir.com DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME

RESPONSIBILITY FOR ANY PRODUCT OR SERVICES PROVIDED, ADVERTISED OR OFFERED BY

A THIRD PARTY THROUGH THE SERVICES OR ANY LINKED WEB SITE OR FEATURED IN ANY

ADVERTISING, AND Spon-sir.com WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE

FOR MONITORING ANY TRANSACTION BETWEEN CUSTOMERS AND ANY THIRD PARTY.

The Services are offered by Spon-sir.com from Luxembourg. Spon-sir.com makes no representations that

the Services are appropriate or available for use in other countries. Those who access or use the

Services from other jurisdictions do so at their own volition and are responsible for compliance with local

law.

<h5>30. LIMITATION OF LIABILITY</h5>

IN NO EVENT SHALL Spon-sir.com, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, BE

LIABLE TO CUSTOMERS OR OTHER THIRD PARTIES FOR ANY INDIRECT, INCIDENTAL, SPECIAL,

PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER RESULTING FROM ANY (I) ERRORS,

MISTAKES, OR INACCURACIES OF SERVICES CONTENT, (II) PERSONAL INJURY OR PROPERTY

DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM THE USE OF THE SERVICES, (III)

ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SERVERS AND/OR ANY AND ALL PERSONAL

INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION

TO OR FROM THE SERVICES OR INTEROPERABILITY PROBLEMS, (V) ANY BUGS, VIRUSES,

TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR THROUGH THE

SERVICES BY ANY THIRD PARTY, (VI) ANY ERRORS OR OMISSIONS IN ANY CONTENT, (VII)

CUSTOMERS SUBMISSIONS OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY

THIRD PARTY, (VIII) CUSTOMERS USE, OR INABILITY TO USE, ANY PORTION OF THE SERVICES

OR FOR ANY LOSS OR DAMAGE OF ANY KIND (INCLUDING CUSTOMERS’ DATA) INCURRED AS A

RESULT OF THE USE OF THE SERVICES, WHETHER BASED ON WARRANTY, CONTRACT, TORT,

OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT THE COMPANY IS ADVISED OF THE

POSSIBILITY OF SUCH DAMAGES. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO
THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTIONS.

            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

</div>